[submodule "MIT/Missing-semester-2020-MIT"]
	path = MIT/Missing-semester-2020-MIT
	url = git@github.com:MartinLwx/Missing-semester-2020-MIT.git
[submodule "UCB/CS61A-Fall-2021-UCB"]
	path = UCB/CS61A-Fall-2021-UCB
	url = git@github.com:MartinLwx/CS61A-Fall-2021-UCB.git
[submodule "UCB/Data100-Fall-2021-UCB"]
	path = UCB/Data100-Fall-2021-UCB
	url = git@github.com:MartinLwx/Data100-Fall-2021-UCB.git
[submodule "MIT/6.005-Spring-2016-MIT"]
	path = MIT/6.005-Spring-2016-MIT
	url = git@github.com:MartinLwx/6.005-Spring-2016-MIT.git
[submodule "UPenn/CIS198-Spring-2016-UPenn"]
	path = UPenn/CIS198-Spring-2016-UPenn
	url = git@github.com:MartinLwx/CIS198-Spring-2016-UPenn.git
[submodule "Stanford/CS224W-Fall-2021-Stanford"]
	path = Stanford/CS224W-Fall-2021-Stanford
	url = https://github.com/MartinLwx/CS224W-Fall-2021-Stanford.git
[submodule "Stanford/CS110L-Spring-2020-Stanford"]
	path = Stanford/CS110L-Spring-2020-Stanford
	url = git@github.com:MartinLwx/CS110L-Spring-2020-Stanford.git
[submodule "Coursera/Machine-learning-Coursera"]
	path = Coursera/Machine-learning-Coursera
	url = git@github.com:MartinLwx/Machine-learning-Coursera.git
[submodule "CMU/10-414-Fall-2022-CMU"]
	path = CMU/10-414-Fall-2022-CMU
	url = git@github.com:MartinLwx/10-414-Fall-2022-CMU.git
[submodule "Coursera/Programming-language-Coursera"]
	path = Coursera/Programming-language-Coursera
	url = git@github.com:MartinLwx/Programming-Languages-Coursera.git
[submodule "Helsinki/haskell-mooc"]
	path = Helsinki/haskell-mooc
	url = git@github.com:MartinLwx/haskell-mooc.git
