[submodule "MIT/Missing-semester-2020-MIT"]
	path = MIT/Missing-semester-2020-MIT
	url = git@github.com:MartinLwx/Missing-semester-2020-MIT.git
[submodule "UCB/CS61A-Fall-2021-UCB"]
	path = UCB/CS61A-Fall-2021-UCB
	url = git@github.com:MartinLwx/CS61A-Fall-2021-UCB.git
[submodule "UCB/Data100-Fall-2021-UCB"]
	path = UCB/Data100-Fall-2021-UCB
	url = git@github.com:MartinLwx/Data100-Fall-2021-UCB.git
[submodule "MIT/6.005-Spring-2016-MIT"]
	path = MIT/6.005-Spring-2016-MIT
	url = git@github.com:MartinLwx/6.005-Spring-2016-MIT.git
[submodule "UPenn/CIS198-Spring-2016-UPenn"]
	path = UPenn/CIS198-Spring-2016-UPenn
	url = git@github.com:MartinLwx/CIS198-Spring-2016-UPenn.git
[submodule "Stanford/CS224W-Fall-2021-Stanford"]
	path = Stanford/CS224W-Fall-2021-Stanford
	url = https://github.com/MartinLwx/CS224W-Fall-2021-Stanford.git
